@charset "utf-8";

@font-face {
  font-family: 'Fira Sans';
  src: url('/assets/fonts/fira-sans/light.eot');
  src: url('/assets/fonts/fira-sans/light.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/fira-sans/light.woff2') format('woff2'),
       url('/assets/fonts/fira-sans/light.woff') format('woff'),
       url('/assets/fonts/fira-sans/light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('/assets/fonts/fira-sans/regular.eot');
  src: url('/assets/fonts/fira-sans/regular.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/fira-sans/regular.woff2') format('woff2'),
       url('/assets/fonts/fira-sans/regular.woff') format('woff'),
       url('/assets/fonts/fira-sans/regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('/assets/fonts/fira-sans/medium.eot');
  src: url('/assets/fonts/fira-sans/medium.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/fira-sans/medium.woff2') format('woff2'),
       url('/assets/fonts/fira-sans/medium.woff') format('woff'),
       url('/assets/fonts/fira-sans/medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}
