@charset "utf-8";

@font-face {
  font-family: "League Gothic";
  src: url("/assets/fonts/league-gothic/regular.eot");
  src: url("/assets/fonts/league-gothic/regular.eot?#iefix") format("embedded-opentype"),
       url("/assets/fonts/league-gothic/regular.woff2") format("woff2"),
       url("/assets/fonts/league-gothic/regular.woff") format("woff"),
       url("/assets/fonts/league-gothic/regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
